<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.godlife.createtodolist.CreateActivity">

        </activity>

        <activity android:name="com.godlife.create_post.CreatePostActivity">

        </activity>
    </application>
</manifest>